<!DOCTYPE HTML>
<html>
<head>
<title>Cluster</title>
<link rel="stylesheet" href="static/css/main.css"/>
<link rel="stylesheet" href="static/css/bootstrap.min.css"/>
<script type="text/javascript" src="/static/js/d3.min.js"></script>
<script type="text/javascript" src="/static/js/angular.min.js"></script>
<script type="text/javascript" src="/static/js/scatter.js"></script>
<script type="text/javascript" src="/static/js/ribbon.js"></script>


</head>

<body>

    <h1>Welcome to Clusterville</h1>
    <div class="container">
        <h3>Pick a dataset youd like to explore</h3> 
            <div class=".col-md-4" name="plotarea">   
                <form action="/your-name/" method="POST">{% csrf_token %}
                    <table>
                        <tr>
                            <td>DATASET</td>
                            <td>
                            <select name="getset">
                                <option name="getset0">Select...</option>
                                <option name="getset1">IMDB - Ratings</option>
                                <option name="getset2">Blobs</option>
                                <option name="getset3">Rings</option>
                                <option name="getset4">Crescents</option>
                            </select>
                            </td>
                        </tr>
                        <tr class="algselect">
                            <td>ALGORITHM</td>
                            <td>
                            <select name="getalg">
                                <option name="chooseone">Select one</option>
                               <option name="get3">K-Means</option>
                            </select>
                            </td>
                        </tr>   
                        <tr id="clusterselect">
                            <td>CLUSTERS</td>
                            <td>
                            <select name="getval">
                                <option name="get1">2</option>
                                <option>3</option>
                                <option>4</option>
                                <option>5</option>
                                <option>6</option>
                                <option>7</option>
                                <option>8</option>
                                <option>9</option>
                                
                            </select>
                            </td>
                        </tr>
                        <tr>
                            <td>
                            <input type="submit" value="OK" class="btn">
                        </td>
                        </tr>
                    </table>
                </form>
            </div>    
    </div>

        <script>ribbon_image();</script>
    

<div id="build">
    <h2>Built with django</h2>
    <h2>D3.js</h2>
    <h2>Python</h2>
    <h2>AngularJS</h2>
    <h2>SQL</h2>
</div>
</body>
</html>

