<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Cluster At</title>
    
    {% load static %}
    <link rel="shortcut icon" type="image/png" href='{%static 'images/favicon.png' %}'/>
    <script src='{%static 'jquery/jquery.js' %}'></script>
    <script src="static/jquery/jquery.js"></script>
    <script type="text/javascript" src='{%static 'js/d3.min.js' %}'></script>
    <script type="text/javascript" src='{%static 'jquery/jquery.js' %}'></script>
    <script type="text/javascript" src='{%static 'js/scatterd3.js' %}'></script>
    <script type="text/javascript" src='{%static 'js/homed3.js' %}'></script>
    <link rel="stylesheet" href='{%static 'css/bootstrap.css' %}'/>
    <link rel="stylesheet" href='{%static 'css/main.css' %}'/>
    <link rel="stylesheet" href='{%static 'css/font-awesome.css' %}'/>
    <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.no-icons.min.css" rel="stylesheet">
    <link href="//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css" rel="stylesheet">
    <script>
    $(function(){
        var go = $("#go").click(function(){$("#form").submit();});
        var ribbon = $("#strip");
        ribbon.html(ribbon_image());
    });

    </script>

</head>

<body>
    <div class="page-header boxtext">
        <img src='{%static 'images/clusterat.svg' %}' alt="clusteratlogo" height="80" width="80">
        <h1>Welcome to ClusterAt</h1>
    </div>
    
    <div class="container"  id="container">
     <div class="row">   
        <div class="col-md-3 boxgrid">
            <div class="boxtext">
                <h1><i class="fa fa-sort-amount-asc" aria-hidden="true"></i></h1>     
                <h3>Algorithm</h3>
            </div>
            <p>The k-means clustering algorithm processes raw data and forms groups called clusters. These are calculated based on a set of attributes from the data. This allows information to be derived from the resulting groups in the form of classes.</p>
        </div>
        <div class="col-md-3 boxgrid">
            <div class="boxtext">
                <h1><i class="fa fa-info" aria-hidden="true"></i></h1>
                <h3>Details</h3>
            </div>    
            <div>
                <p>First select a dataset. A dataset is a collection of items that share common attributes. This data is what you will be exploring.</p>
                <p>Second, select the algorithm you want to use.</p>
                <p>Then choose the number of clusters or groups. </p>
                <p>Finally, choose the number of items you want clustered. </p>
            </div>
        </div>

        <div class="col-md-3 boxgrid">                
            <div class="boxtext">
                <h1><i class="fa fa-sliders" aria-hidden="true"></i></h1>
                <h3>Criteria</h3>
            </div>    
            <form action="cluster-results/" method="POST" id="form">
               {% csrf_token %}
               <table>
                <tr> 
                   <td>{{ form.dataset.label_tag }}</td>
                   <td>{{ form.dataset }}</td>
               </tr>
               <tr>
                <td>{{ form.algorithm.label_tag }}</td>
                <td>{{ form.algorithm }}</td>
            </tr>
            <tr>   
               <td>{{ form.clusters.label_tag }}</td>
               <td>{{ form.clusters }}</td>
           </tr>
           <tr>
             <td>{{ form.numresults.label_tag }}</td>
             <td>{{ form.numresults }}</td>
         </tr>
     </table>
 </form>   
</div>
    <div class="boxgrid boxtext">
        <!-- <div class="boxtext"> -->
            <h1><i class="fa fa-eye" aria-hidden="true"></i></h1><h3>Visualise</h3>
            <input type="submit" value="View Results" class="btn" id="go" >
        <!-- </div> -->    
    </div>
</div>        
<div id="strip"></div> 
</div>
</body>
</html>

