<!DOCTYPE HTML>
<html>
<head>
    <meta charset="UTF-8">
    <title>Clusterville Home</title>
    {% extends "base.html" %}

    <script>
    $(function(){
        var go = $("#go").click(function(){$("#form").submit();});
        var ribbon = $("#strip");
        ribbon.html(ribbon_image());
    });

    </script>

</head>

<body>
    {% block content %}
    <div class="page-header">
        <h1>hello</h1>
    </div>
    <div class="jumbotron">
        <div class="row">
                <h1>Welcome to ClusterAt</h1>
                <div class="container-fluid"  id="container">
                    <img src='' alt="clusteratlogo">
                    <div class="box col-sm-4"><h3>Details</h3><p>First select the dataset. A dataset is a collection of items that share common attributes. This data is what you will be exploring.</p>
                        <p class="boxtext">Second, select the algorithm you want to use.</p>
                        <p>Thirdly, choose the number of clusters or groups. </p>
                        <p>Finally, choose the number of items you want clustered. </p>
                        <p>Lastly, set the timer - it's good for benchmarking your tests!</p> --></div>
                        <div class="box col-sm-4">      
                            <h3>Algorithm</h3>
                            <p class="boxtext">Clustering algorithms take raw data and group them based on a set of attributes. Once this is done, information can be derived from the resulting groups. As long as these groups are robust to algorithm iterations, they're legitimate.</p>
                        </div>
                        <div class="box col-sm-4">                <div>
                            <h3>Criteria</h3>
                            <form action="cluster-results/" method="POST" id="form">
                               {% csrf_token %}
                               <table>
                                   <tr> 
                                       <td>{{ form.dataset.label_tag }}</td>
                                       <td>{{ form.dataset }}</td>
                                   </tr>
                                   <tr><td>
                                    {{ form.algorithm.label_tag }}</td>
                                    <td>{{ form.algorithm }}</td>

                                </tr>
                                <tr>   
                                   <td>{{ form.clusters.label_tag }}</td>
                                   <td>{{ form.clusters }}</td>

                               </tr>
                               <tr><td>
                                {{ form.algorithm2.label_tag }}</td>
                                <td>{{ form.algorithm2 }}</td>

                            </tr>
                            <tr>
                             <td>{{ form.numresults.label_tag }}</td>
                             <td>{{ form.numresults }}</td>


                         </tr>
                     </table>
                 </form>   
             </div></div>
             <div class="box col-sm-4"><h3 >Visualiser</h3>
                <input type="submit" value="View Results" class="btn" id="go" >
            </div>
        </div>    
    </div>       

{% endblock content%}    
</div>
<div id="strip"></div>
</body>
</html>

