
<head>
	<meta charset="UTF-8">
	<style>
	.tooltip {
		position: absolute;
		width: 200px;
		height: 28px;
		pointer-events: none;
	}

	.dot{

	}
	</style>
	{% extends "base.html" %}
	
	<script>
	function movieDetails(d){
		$.each(d, function(i, item){
			$("#tooltipside").append("<li>"+d[i]+"</li></br>");
		});
	};
	</script>	

</head>
<body>
{% block content%}
	<h1>Clustered Data: {{dataset}} with {{clusters}} clusters.</h1>
	
		<script>
		var settype={{settype|safe}};
		console.log("settype");
		console.log(settype);
		var data= {{data|safe}};

		var axes = params(settype);
		scatter_d3(data,axes);//,movieDetails
		</script>
	</div>
	<div id="tooltipside">
	</div>
{%endblock content%}
</body>
