.boxgrid{
    /*background-color: #D3D3D3;*/
    
    padding: 50px 0px;
    margin:15px;
    border-radius: 25px;
    /*border: 1px solid black;*/

}

svg{
    display: block;
    margin: auto;
}

.formText{
    font-weight: bold;
}



.boxtext{
    text-align: center;
}

#tooltipside{
    float:right;
    background-color: white;
}


